* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD;
    margin : 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    background: rgb(137, 169, 177);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

.error {
    color: red;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: rgb(rgb(114, 60, 60), rgb(54, 95, 54), rgb(102, 102, 179));
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #688eb6;
}

